li {
    background-color: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #747bff;
}

li input {
    margin-right: 10px;

}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}
