.App{
  background-color: #1a1a1a;
  min-width: 320px;
  min-height: 100vh;
  display: block;
  padding: 20px;

}

  h1{
    top: 20px;
    left: 600px;
    font-family: Helvetica;
    font-size: 50px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }


  ul{
      list-style-type: none;
      font-size: 20px;

    }

  form{
    margin-top: 100px;
    position: relative;
    justify-content: center;
    padding: 20px;
  }

  input {
    width: 70%;
    font-family: Helvetica;
    font-size: 20px;
    padding: 20px;
    border-radius: 10px;

  }
  input[type='checkbox']{
    height: 20px;
    width: 20px;
  }

  button {
    padding: 20px;
    background-color: #4caf50;
    font-size: 20px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 8px;
  }

  button:hover {
    background-color: #45a049;
  }





